<div class="age-gate-wrapper" id="age-gate-popup">
    <div class="age-gate">
        <div class="age-gate__content">
          <div class="age-gate-logo">
            {%- if section.settings.logo_age_check != blank -%}
            <img srcset="{{ section.settings.logo_age_check | img_url: '400x' }} 1x, {{ section.settings.logo_age_check | img_url: '400x', scale: 2 }} 2x"
                src="{{ section.settings.logo_age_check | img_url: '400x' }}"
                loading="lazy"
                class="age-gate__logo"
                width="{{ section.settings.logo_age_check.width }}"
                height="{{ section.settings.logo_age_check.height }}"
                alt="{{ shop.name }}"
            >
            {%- else -%}
<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 25.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1200 696.8" style="enable-background:new 0 0 1200 696.8;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#010101;}
	.st1{fill:#FBB516;}
</style>
<g>
	<g>
		<g>
			<g>
				<path class="st0" d="M447.8,107.1h-82.9l2.8,12.1l-48,238.4l-51.4-245l0,0c-18.2-88.4-43.8-86.5-43.8-86.5
					c-22.5,17.3-43.4,33.4-66.5,51.2c6,5.2,10.2,9.1,14.7,12.6c11.5,8.8,13.9,20.1,13.4,34.3l0.1,0v357h56.4V246.7l54.6,234.5h45.3
					l48.9-235.1v235.1H453l-5.2-18.2V107.1z"/>
				<polygon class="st0" points="498.2,481.2 658.7,481.2 658.7,416.7 554.6,432.3 554.6,309.5 630.6,322.5 630.6,265.8 
					554.6,265.8 554.6,156 658.7,171.6 658.7,107.1 498.2,107.1 				"/>
				<polygon class="st0" points="839.2,311.8 881.6,313.5 881.6,272.8 864.9,281.5 837.1,280.4 905.4,107.4 843,107.4 801.6,222.9 
					759.8,107.4 692.3,107.4 702.5,120.2 764.6,277.4 721.6,275.7 721.6,316.4 734.7,307.7 764.8,308.9 697.5,481.2 758,481.2 
					801.6,362.2 844.9,481.2 910.6,481.2 900.8,469.4 				"/>
				<polygon class="st0" points="952.2,107.4 952.2,465.2 952.2,481.2 1008.6,481.2 1008.6,125.6 1016.4,107.4 				"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path class="st1" d="M105.5,564c-0.9,0-1.7,0.4-2.4,1.3v54.3c0,3.7,0.2,6.6,0.7,8.9c0.4,2.2,1.4,4.5,2.9,6.6
				c2.9,4.2,9.5,6.3,19.9,6.3v3.8c-0.4,0-3.7,1.2-9.7,3.6s-9.7,3.6-11,3.6c-4.4,0-8.6-2.5-12.5-7.6c-3.9-5-5.9-10.4-5.9-16v-65.6
				c0-0.6,5-2.8,15.1-6.5c10-3.7,15.8-5.6,17.3-5.6c0.5,0,1.1,1.3,1.8,3.8c0.7,2.5,1.5,5.6,2.4,9.2c0.9,3.6,1.9,6.2,2.9,8
				c1,1.7,2.9,2.6,5.7,2.6v2.6c-1.9,0.9-5.2,2.4-9.8,4.7c-4.6,2.2-7.1,3.4-7.4,3.4c-1.3,0-3-3.6-5-10.7
				C108.4,567.5,106.7,564,105.5,564z"/>
			<path class="st1" d="M139.3,585.4l14.5-7.9c0.6,0.2,1.3,0.4,2.2,0.7c0.8,0.3,2,1.2,3.4,2.6s2.2,3,2.2,4.7
				c0.4-0.2,2.5-1.6,6.3-4.1c3.7-2.6,6.1-3.9,7.2-3.9c2.8,0,5.4,1.8,7.9,5.5c2.5,3.7,3.7,7.1,3.7,10.1v6.4l-13.6,7.6l-2.2-1.8
				c0-7.4-0.7-11.6-2.1-12.6c-1.6-1.1-3.9-1.7-7.1-1.7V633c0,5.4,1.8,8.4,5.4,9.1v2.9l-13.3,7.5c-1.9-0.8-3.7-2.1-5.4-3.9
				c-1.7-1.8-2.5-3.5-2.5-5.1v-43.7c0-3.9-0.7-6.8-2-8.7c-1.4-1.9-2.8-2.9-4.4-2.9V585.4z"/>
			<path class="st1" d="M233.9,594.9v37.2c0,3.3,0.5,5.5,1.6,6.8c1,1.3,2.7,2.2,4.9,2.7v2.9l-14.3,8c-1.9-0.8-3.7-2.1-5.4-3.9
				c-1.7-1.8-2.5-3.4-2.5-4.9l-16.4,8.8c-0.3-0.2-0.7-0.4-1.2-0.7c-0.5-0.3-1.4-1-2.7-2c-1.3-1-2.4-2.1-3.4-3.2
				c-2.6-2.9-3.9-6.2-3.9-9.9v-21.6c0-1.4,2.3-3.2,6.8-5.4c4.5-2.2,9.1-4,13.7-5.4l7-2.2c0-5-1.3-8.5-3.9-10.5c-2.6-2-7.7-3-15.3-3
				v-3.9c13.6-4.8,21.2-7.2,22.9-7.2c2.9,0,5.7,1.9,8.3,5.7C232.6,586.9,233.9,590.8,233.9,594.9z M208.3,637.5
				c1.4,1.4,2.9,2.2,4.5,2.2c1.7,0,3.4-0.7,5.3-2V608c-2.2,0.8-3.8,1.4-4.9,2c-1.1,0.5-2.3,1.4-3.5,2.5c-2.3,2.1-3.4,5.7-3.4,10.9
				v8.6C206.3,634.2,206.9,636.1,208.3,637.5z"/>
			<path class="st1" d="M255.6,566.1c0-1.7,4.5-4.5,13.4-8.6c8.9-4.1,14.4-6.1,16.3-6.1c0.7,0,1.3,0.3,1.7,1
				c0.4,0.7,0.8,1.2,1.1,1.8l1.2,2.5c0.6,1.1,1.2,2.2,1.8,3.3c1.1,2.1,2.6,3.2,4.3,3.2v2.6c-1.4,0.6-3.3,1.6-5.7,2.9
				c-5.5,3-8.5,4.5-8.9,4.5c-1.3,0-2.5-1.9-3.6-5.8c-1.1-3.9-2.3-5.8-3.5-5.8c-1.6,0-2.4,1.3-2.4,3.9v19.3h13.4v3.2l-6.6,3.3h-6.8
				V633c0,5.4,1.8,8.4,5.4,9.1v2.9l-13.3,7.5c-1.9-0.8-3.7-2.1-5.4-3.9c-1.7-1.8-2.5-3.5-2.5-5.1v-52.3h-8v-2.9l8-3.5V566.1z"/>
			<path class="st1" d="M315.4,563.8v15.6h6.7l-1.3,6.4h-5.4V633c0,5.4,1.8,8.4,5.4,9.1v2.9l-13.3,7.5c-1.9-0.8-3.7-2.1-5.4-3.9
				c-1.7-1.8-2.5-3.5-2.5-5.1v-57.5h-5.4l1.3-5.5c2.6,0,5.8-1.8,9.5-5.3s5.9-7.3,6.6-11.4H315.4z"/>
			<path class="st1" d="M373.5,639.1v-69.7l4.1-3.9h-8.3c-5.4,0-8.4,1.5-9.1,4.3h-2.9l-7.5-10.8c1.1-1.7,2.4-3.2,4.1-4.5
				c1.7-1.3,3.3-2,4.9-2h34.7c5.3,0,8.4-1.4,9.1-4.3h2.9L413,559c-1.1,1.7-2.4,3.2-4.1,4.5c-1.7,1.3-3.3,2-4.9,2h-14.7v66.8
				c0,3.2,0.3,5.6,1,7c0.7,1.4,2.2,2.1,4.3,2.1v4.1l-27,11.3l-2.1-4.2c1.9,0,3.8-1.1,5.5-3.4C372.8,646.9,373.5,643.5,373.5,639.1z"
				/>
			<path class="st1" d="M449.6,577.5c0.4,0,1.5,0.7,3.3,2c1.8,1.4,3.5,3.2,5.3,5.7c1.7,2.4,2.6,4.8,2.6,7v22.1c0,1.6-2.3,3.5-7,5.8
				c-4.6,2.3-9.1,4.1-13.5,5.6c-4.3,1.5-6.7,2.2-7,2.2c0,6.8,2.9,10.9,8.8,12.5c2.9,0.7,6.3,1,10.4,1v3.8c-14.4,4.8-22,7.2-23,7.2
				c-2.6,0-5.3-1.9-8-5.6c-2.7-3.7-4.1-8.1-4.1-13.1v-44.2c0-0.6,5-2.8,15-6.5C442.3,579.4,448.1,577.5,449.6,577.5z M443.3,592.2
				c-1.1-1.7-2.6-2.6-4.3-2.6c-1.8,0-3.7,0.7-5.8,2V622c7.9-2.2,11.8-6.9,11.8-14.2v-9.3C445,596,444.4,593.9,443.3,592.2z"/>
			<path class="st1" d="M489.8,583c9.7-3.6,15.6-5.5,17.8-5.5s4.6,2,7.2,6s3.9,8.4,3.9,13.2v57.5c0,2.4,0.4,4.1,1.2,5.1
				c0.8,1,2.2,1.5,4.1,1.5v3.7c-17.8,7.8-26.7,11.7-26.8,11.7l-2.1-4.2c0.7,0,1.6-0.3,2.6-0.9c1-0.6,1.9-1.3,2.6-2.1
				c1.8-2.1,2.8-5.3,2.8-9.6v-16.4c-9.9,4.6-15.6,7-17.1,7c-2.7,0-5.2-1.7-7.4-5.2c-2.2-3.5-3.3-7.3-3.3-11.6v-43.3
				C475.2,588.9,480.1,586.6,489.8,583z M503,601.2c0-7.7-2-11.6-6-11.6c-2.1,0-4,0.7-5.8,2.1V622c0,6.1,1,10.2,2.9,12.3
				c1.9,2.1,4.9,3.1,8.9,3.1V601.2z"/>
			<path class="st1" d="M555,637.5c1.4,1.4,2.9,2.2,4.5,2.2c1.7,0,3.4-0.7,5.3-2v-40.9c0-5.3-1.8-8.4-5.4-9.1v-2.9l13.3-7.5
				c1.9,0.8,3.7,2.1,5.4,3.9c1.7,1.8,2.5,3.5,2.5,5.1v44.6c0,2.9,0.6,5.4,1.8,7.5c1.2,2.1,2.8,3.2,4.6,3.2v2.9
				c-0.6,0.1-5.4,2.8-14.3,8c-2-0.9-3.8-2.2-5.5-3.9c-1.6-1.7-2.4-3.4-2.4-4.9l-16.4,8.8c-0.3-0.2-0.7-0.4-1.2-0.7
				c-0.5-0.3-1.4-1-2.7-2c-1.3-1-2.4-2.1-3.4-3.2c-2.6-2.9-3.9-6.2-3.9-9.9v-39.8c0-4.8-2.1-7.7-6.4-8.6v-2.9l14.3-8
				c1.9,0.8,3.7,2.1,5.4,3.9c1.7,1.8,2.5,3.5,2.5,5.1v45.6C553,634.2,553.6,636.1,555,637.5z"/>
			<path class="st1" d="M618,586.4V633c0,5.4,1.8,8.4,5.4,9.1v2.9l-13.3,7.5c-1.9-0.8-3.7-2.1-5.4-3.9c-1.7-1.8-2.5-3.5-2.5-5.1V597
				c0-5.3-1.8-8.4-5.4-9.1V585l13.3-7.5c1.9,0.8,3.7,2.1,5.4,3.9C617.2,583.2,618,584.9,618,586.4z M600.3,561.1v-8
				c0-0.3,1.8-1.1,5.5-2.4s5.7-2,6.3-2c0.6,0,1.4,0.7,2.5,2.2c1.1,1.5,1.6,3,1.6,4.6v9.6c0,0.3-1.8,1.1-5.3,2.4
				c-3.5,1.4-5.7,2-6.4,2c-0.8,0-1.7-0.8-2.7-2.3C600.8,565.6,600.3,563.6,600.3,561.1z"/>
			<path class="st1" d="M652.2,560.3V633c0,5.4,1.8,8.4,5.4,9.1v2.9l-13.3,7.5c-1.9-0.8-3.7-2.1-5.4-3.9c-1.7-1.8-2.5-3.5-2.5-5.1
				v-72.7c0-5.3-1.8-8.4-5.4-9.1v-2.9l13.3-7.5c1.9,0.8,3.7,2.1,5.4,3.9C651.4,557,652.2,558.7,652.2,560.3z"/>
			<path class="st1" d="M711.4,594.9v37.2c0,3.3,0.5,5.5,1.6,6.8c1,1.3,2.7,2.2,4.9,2.7v2.9l-14.3,8c-1.9-0.8-3.7-2.1-5.4-3.9
				c-1.7-1.8-2.5-3.4-2.5-4.9l-16.4,8.8c-0.3-0.2-0.7-0.4-1.2-0.7c-0.5-0.3-1.4-1-2.7-2c-1.3-1-2.4-2.1-3.4-3.2
				c-2.6-2.9-3.9-6.2-3.9-9.9v-21.6c0-1.4,2.3-3.2,6.8-5.4c4.5-2.2,9.1-4,13.7-5.4l7-2.2c0-5-1.3-8.5-3.9-10.5c-2.6-2-7.7-3-15.3-3
				v-3.9c13.6-4.8,21.2-7.2,22.9-7.2c2.9,0,5.7,1.9,8.3,5.7C710.1,586.9,711.4,590.8,711.4,594.9z M685.8,637.5
				c1.4,1.4,2.9,2.2,4.5,2.2c1.7,0,3.4-0.7,5.3-2V608c-2.2,0.8-3.8,1.4-4.9,2c-1.1,0.5-2.3,1.4-3.5,2.5c-2.3,2.1-3.4,5.7-3.4,10.9
				v8.6C683.8,634.2,684.5,636.1,685.8,637.5z"/>
			<path class="st1" d="M768.1,610.5c-2.2,0-4.1-1.7-5.7-5c-1.6-3.3-2.4-7.4-2.4-12.2v-27.4c0-1.7,4.6-4.5,13.8-8.6
				c9.2-4.1,14.5-6.1,15.9-6.1c1.1,0,2.5,1.8,4.5,5.3c0.4,0.9,1.1,2.1,1.9,3.6c0.8,1.5,1.5,2.7,2,3.7c1.1,2.1,2.6,3.2,4.3,3.2v2.6
				c-1.4,0.6-3.3,1.5-5.7,2.8c-5.5,3.1-8.5,4.6-8.9,4.6c-1.3,0-3-2.6-4.9-7.8c-2-5.2-3.6-7.8-4.8-7.8c-1.6,0-2.4,1.3-2.4,3.9v29.3
				c0,3.5,0.8,5.3,2.4,5.3c0.4,0,3.1-1.1,8.2-3.4s8.2-3.4,9.2-3.4c2.1,0,4,1.7,5.6,5.1c1.6,3.4,2.4,7.7,2.4,13v28
				c0,1.7-5,4.5-15.1,8.6c-10,4.1-15.8,6.1-17.3,6.1c-0.6,0-1.3-0.7-2.1-2.2c-0.8-1.5-1.8-3.6-3.1-6.4c-1.3-2.8-2.4-5.1-3.4-6.9
				c-1-1.8-2.4-2.8-4.1-2.8v-2.6c1.4-0.6,3.2-1.5,5.5-2.8c5.6-3.1,8.6-4.6,9.1-4.6c1.3,0,3.2,3,5.6,9.1c2.4,6,4.2,9.1,5.5,9.1
				c0.9,0,1.7-0.4,2.5-1.1c0.8-0.7,1.2-1.7,1.2-2.9v-29.6c0-3.9-1.1-5.9-3.3-5.9c-0.7,0-3.5,1.1-8.3,3.2
				C771.4,609.5,768.7,610.5,768.1,610.5z"/>
			<path class="st1" d="M853.5,577.5c0.4,0,1.5,0.7,3.3,2c1.8,1.4,3.5,3.2,5.3,5.7c1.7,2.4,2.6,4.8,2.6,7v22.1c0,1.6-2.3,3.5-7,5.8
				c-4.6,2.3-9.1,4.1-13.5,5.6c-4.3,1.5-6.7,2.2-7,2.2c0,6.8,2.9,10.9,8.8,12.5c2.9,0.7,6.3,1,10.4,1v3.8c-14.4,4.8-22,7.2-23,7.2
				c-2.6,0-5.3-1.9-8-5.6c-2.7-3.7-4.1-8.1-4.1-13.1v-44.2c0-0.6,5-2.8,15-6.5C846.2,579.4,852,577.5,853.5,577.5z M847.1,592.2
				c-1.1-1.7-2.6-2.6-4.3-2.6c-1.8,0-3.7,0.7-5.8,2V622c7.9-2.2,11.8-6.9,11.8-14.2v-9.3C848.9,596,848.3,593.9,847.1,592.2z"/>
			<path class="st1" d="M894.9,560.3V633c0,5.4,1.8,8.4,5.4,9.1v2.9l-13.3,7.5c-1.9-0.8-3.7-2.1-5.4-3.9c-1.7-1.8-2.5-3.5-2.5-5.1
				v-72.7c0-5.3-1.8-8.4-5.4-9.1v-2.9l13.3-7.5c1.9,0.8,3.7,2.1,5.4,3.9C894.1,557,894.9,558.7,894.9,560.3z"/>
			<path class="st1" d="M932.4,563.8v15.6h6.7l-1.3,6.4h-5.4V633c0,5.4,1.8,8.4,5.4,9.1v2.9l-13.3,7.5c-1.9-0.8-3.7-2.1-5.4-3.9
				c-1.7-1.8-2.5-3.5-2.5-5.1v-57.5h-5.4l1.3-5.5c2.6,0,5.8-1.8,9.5-5.3c3.7-3.6,5.9-7.3,6.6-11.4H932.4z"/>
			<path class="st1" d="M972.1,639.6c5.4,0,8.4-1.4,9.1-4.3h2.9l7.5,10.8c-1.1,1.7-2.4,3.2-4.1,4.5c-1.7,1.3-3.3,2-4.9,2h-34.5
				c-1.8-5.4-2.6-9.5-2.6-12.5l30.9-48.4H965c-5.4,0-8.4,1.4-9.1,4.3H953l-7.5-10.8c1-1.7,2.4-3.2,4.1-4.5c1.7-1.3,3.3-2,4.9-2h17.6
				c5.4,0,8.4-1.4,9.1-4.3h2.9c1.2,1.7,2.8,4.7,4.7,9.1c1.9,4.4,2.8,7.1,2.8,8l-29.9,48.1H972.1z"/>
			<path class="st1" d="M1036.9,577.5c0.4,0,1.5,0.7,3.3,2s3.5,3.2,5.3,5.7c1.7,2.4,2.6,4.8,2.6,7v22.1c0,1.6-2.3,3.5-7,5.8
				c-4.6,2.3-9.1,4.1-13.5,5.6c-4.3,1.5-6.7,2.2-7,2.2c0,6.8,2.9,10.9,8.8,12.5c2.9,0.7,6.3,1,10.4,1v3.8c-14.4,4.8-22,7.2-23,7.2
				c-2.6,0-5.3-1.9-8-5.6c-2.7-3.7-4.1-8.1-4.1-13.1v-44.2c0-0.6,5-2.8,15-6.5C1029.7,579.4,1035.4,577.5,1036.9,577.5z
				 M1030.6,592.2c-1.1-1.7-2.6-2.6-4.3-2.6c-1.8,0-3.7,0.7-5.8,2V622c7.9-2.2,11.8-6.9,11.8-14.2v-9.3
				C1032.3,596,1031.8,593.9,1030.6,592.2z"/>
			<path class="st1" d="M1059.4,585.4l14.5-7.9c0.6,0.2,1.3,0.4,2.2,0.7c0.8,0.3,2,1.2,3.4,2.6c1.4,1.4,2.2,3,2.2,4.7
				c0.4-0.2,2.5-1.6,6.3-4.1c3.7-2.6,6.1-3.9,7.2-3.9c2.8,0,5.4,1.8,7.9,5.5c2.5,3.7,3.7,7.1,3.7,10.1v6.4l-13.6,7.6l-2.2-1.8
				c0-7.4-0.7-11.6-2.1-12.6c-1.6-1.1-3.9-1.7-7.1-1.7V633c0,5.4,1.8,8.4,5.4,9.1v2.9l-13.3,7.5c-1.9-0.8-3.7-2.1-5.4-3.9
				c-1.7-1.8-2.5-3.5-2.5-5.1v-43.7c0-3.9-0.7-6.8-2-8.7c-1.4-1.9-2.8-2.9-4.4-2.9V585.4z"/>
		</g>
		<g>
			<path class="st0" d="M112.1,557.4c-0.9,0-1.7,0.4-2.4,1.3V613c0,3.7,0.2,6.6,0.7,8.9c0.4,2.2,1.4,4.5,2.9,6.6
				c2.9,4.2,9.5,6.3,19.9,6.3v3.8c-0.4,0-3.7,1.2-9.7,3.6c-6,2.4-9.7,3.6-11,3.6c-4.4,0-8.6-2.5-12.5-7.6c-3.9-5-5.9-10.4-5.9-16
				v-65.6c0-0.6,5-2.8,15.1-6.5c10-3.7,15.8-5.6,17.3-5.6c0.5,0,1.1,1.3,1.8,3.8c0.7,2.5,1.5,5.6,2.4,9.2c0.9,3.6,1.9,6.2,2.9,8
				c1,1.7,2.9,2.6,5.7,2.6v2.6c-1.9,0.9-5.2,2.4-9.8,4.7c-4.6,2.2-7.1,3.4-7.4,3.4c-1.3,0-3-3.6-5-10.7
				C114.9,561,113.3,557.4,112.1,557.4z"/>
			<path class="st0" d="M145.9,578.8l14.5-7.9c0.6,0.2,1.3,0.4,2.2,0.7c0.8,0.3,2,1.2,3.4,2.6s2.2,3,2.2,4.7
				c0.4-0.2,2.5-1.6,6.3-4.1c3.7-2.6,6.1-3.9,7.2-3.9c2.8,0,5.4,1.8,7.9,5.5c2.5,3.7,3.7,7.1,3.7,10.1v6.4l-13.6,7.6l-2.2-1.8
				c0-7.4-0.7-11.6-2.1-12.6c-1.6-1.1-3.9-1.7-7.1-1.7v41.9c0,5.4,1.8,8.4,5.4,9.1v2.9l-13.3,7.5c-1.9-0.8-3.7-2.1-5.4-3.9
				c-1.7-1.8-2.5-3.5-2.5-5.1v-43.7c0-3.9-0.7-6.8-2-8.7c-1.4-1.9-2.8-2.9-4.4-2.9V578.8z"/>
			<path class="st0" d="M240.4,588.3v37.2c0,3.3,0.5,5.5,1.6,6.8c1,1.3,2.7,2.2,4.9,2.7v2.9l-14.3,8c-1.9-0.8-3.7-2.1-5.4-3.9
				c-1.7-1.8-2.5-3.4-2.5-4.9l-16.4,8.8c-0.3-0.2-0.7-0.4-1.2-0.7c-0.5-0.3-1.4-1-2.7-2c-1.3-1-2.4-2.1-3.4-3.2
				c-2.6-2.9-3.9-6.2-3.9-9.9v-21.6c0-1.4,2.3-3.2,6.8-5.4c4.5-2.2,9.1-4,13.7-5.4l7-2.2c0-5-1.3-8.5-3.9-10.5c-2.6-2-7.7-3-15.3-3
				v-3.9c13.6-4.8,21.2-7.2,22.9-7.2c2.9,0,5.7,1.9,8.3,5.7C239.1,580.4,240.4,584.3,240.4,588.3z M214.8,631
				c1.4,1.4,2.9,2.2,4.5,2.2c1.7,0,3.4-0.7,5.3-2v-29.7c-2.2,0.8-3.8,1.4-4.9,2c-1.1,0.5-2.3,1.4-3.5,2.5c-2.3,2.1-3.4,5.7-3.4,10.9
				v8.6C212.8,627.7,213.5,629.6,214.8,631z"/>
			<path class="st0" d="M262.1,559.5c0-1.7,4.5-4.5,13.4-8.6c8.9-4.1,14.4-6.1,16.3-6.1c0.7,0,1.3,0.3,1.7,1
				c0.4,0.7,0.8,1.2,1.1,1.8l1.2,2.5c0.6,1.1,1.2,2.2,1.8,3.3c1.1,2.1,2.6,3.2,4.3,3.2v2.6c-1.4,0.6-3.3,1.6-5.7,2.9
				c-5.5,3-8.5,4.5-8.9,4.5c-1.3,0-2.5-1.9-3.6-5.8c-1.1-3.9-2.3-5.8-3.5-5.8c-1.6,0-2.4,1.3-2.4,3.9v19.3h13.4v3.2l-6.6,3.3h-6.8
				v41.8c0,5.4,1.8,8.4,5.4,9.1v2.9l-13.3,7.5c-1.9-0.8-3.7-2.1-5.4-3.9c-1.7-1.8-2.5-3.5-2.5-5.1v-52.3h-8v-2.9l8-3.5V559.5z"/>
			<path class="st0" d="M322,557.3v15.6h6.7l-1.3,6.4H322v47.1c0,5.4,1.8,8.4,5.4,9.1v2.9l-13.3,7.5c-1.9-0.8-3.7-2.1-5.4-3.9
				c-1.7-1.8-2.5-3.5-2.5-5.1v-57.5h-5.4l1.3-5.5c2.6,0,5.8-1.8,9.5-5.3c3.7-3.6,5.9-7.3,6.6-11.4H322z"/>
			<path class="st0" d="M380.1,632.5v-69.7l4.1-3.9h-8.3c-5.4,0-8.4,1.5-9.1,4.3h-2.9l-7.5-10.8c1.1-1.7,2.4-3.2,4.1-4.5
				c1.7-1.3,3.3-2,4.9-2h34.7c5.3,0,8.4-1.4,9.1-4.3h2.9l7.5,10.8c-1.1,1.7-2.4,3.2-4.1,4.5c-1.7,1.3-3.3,2-4.9,2h-14.7v66.8
				c0,3.2,0.3,5.6,1,7c0.7,1.4,2.2,2.1,4.3,2.1v4.1l-27,11.3l-2.1-4.2c1.9,0,3.8-1.1,5.5-3.4C379.3,640.3,380.1,637,380.1,632.5z"/>
			<path class="st0" d="M456.1,571c0.4,0,1.5,0.7,3.3,2c1.8,1.4,3.5,3.2,5.3,5.7c1.7,2.4,2.6,4.8,2.6,7v22.1c0,1.6-2.3,3.5-7,5.8
				c-4.6,2.3-9.1,4.1-13.5,5.6c-4.3,1.5-6.7,2.2-7,2.2c0,6.8,2.9,10.9,8.8,12.5c2.9,0.7,6.3,1,10.4,1v3.8c-14.4,4.8-22,7.2-23,7.2
				c-2.6,0-5.3-1.9-8-5.6c-2.7-3.7-4.1-8.1-4.1-13.1v-44.2c0-0.6,5-2.8,15-6.5C448.9,572.8,454.6,571,456.1,571z M449.8,585.6
				c-1.1-1.7-2.6-2.6-4.3-2.6c-1.8,0-3.7,0.7-5.8,2v30.4c7.9-2.2,11.8-6.9,11.8-14.2v-9.3C451.5,589.4,450.9,587.3,449.8,585.6z"/>
			<path class="st0" d="M496.3,576.4c9.7-3.6,15.6-5.5,17.8-5.5s4.6,2,7.2,6s3.9,8.4,3.9,13.2v57.5c0,2.4,0.4,4.1,1.2,5.1
				c0.8,1,2.2,1.5,4.1,1.5v3.7c-17.8,7.8-26.7,11.7-26.8,11.7l-2.1-4.2c0.7,0,1.6-0.3,2.6-0.9c1-0.6,1.9-1.3,2.6-2.1
				c1.8-2.1,2.8-5.3,2.8-9.6v-16.4c-9.9,4.6-15.6,7-17.1,7c-2.7,0-5.2-1.7-7.4-5.2c-2.2-3.5-3.3-7.3-3.3-11.6v-43.3
				C481.8,582.3,486.6,580.1,496.3,576.4z M509.5,594.6c0-7.7-2-11.6-6-11.6c-2.1,0-4,0.7-5.8,2.1v30.2c0,6.1,1,10.2,2.9,12.3
				c1.9,2.1,4.9,3.1,8.9,3.1V594.6z"/>
			<path class="st0" d="M561.5,631c1.4,1.4,2.9,2.2,4.5,2.2c1.7,0,3.4-0.7,5.3-2v-40.9c0-5.3-1.8-8.4-5.4-9.1v-2.9l13.3-7.5
				c1.9,0.8,3.7,2.1,5.4,3.9c1.7,1.8,2.5,3.5,2.5,5.1v44.6c0,2.9,0.6,5.4,1.8,7.5c1.2,2.1,2.8,3.2,4.6,3.2v2.9
				c-0.6,0.1-5.4,2.8-14.3,8c-2-0.9-3.8-2.2-5.5-3.9c-1.6-1.7-2.4-3.4-2.4-4.9l-16.4,8.8c-0.3-0.2-0.7-0.4-1.2-0.7
				c-0.5-0.3-1.4-1-2.7-2c-1.3-1-2.4-2.1-3.4-3.2c-2.6-2.9-3.9-6.2-3.9-9.9v-39.8c0-4.8-2.1-7.7-6.4-8.6v-2.9l14.3-8
				c1.9,0.8,3.7,2.1,5.4,3.9c1.7,1.8,2.5,3.5,2.5,5.1v45.6C559.5,627.7,560.2,629.6,561.5,631z"/>
			<path class="st0" d="M624.6,579.9v46.6c0,5.4,1.8,8.4,5.4,9.1v2.9l-13.3,7.5c-1.9-0.8-3.7-2.1-5.4-3.9c-1.7-1.8-2.5-3.5-2.5-5.1
				v-46.6c0-5.3-1.8-8.4-5.4-9.1v-2.9l13.3-7.5c1.9,0.8,3.7,2.1,5.4,3.9C623.7,576.6,624.6,578.3,624.6,579.9z M606.8,554.5v-8
				c0-0.3,1.8-1.1,5.5-2.4s5.7-2,6.3-2c0.6,0,1.4,0.7,2.5,2.2c1.1,1.5,1.6,3,1.6,4.6v9.6c0,0.3-1.8,1.1-5.3,2.4
				c-3.5,1.4-5.7,2-6.4,2c-0.8,0-1.7-0.8-2.7-2.3C607.3,559.1,606.8,557.1,606.8,554.5z"/>
			<path class="st0" d="M658.8,553.7v72.7c0,5.4,1.8,8.4,5.4,9.1v2.9l-13.3,7.5c-1.9-0.8-3.7-2.1-5.4-3.9c-1.7-1.8-2.5-3.5-2.5-5.1
				v-72.7c0-5.3-1.8-8.4-5.4-9.1v-2.9l13.3-7.5c1.9,0.8,3.7,2.1,5.4,3.9C657.9,550.5,658.8,552.2,658.8,553.7z"/>
			<path class="st0" d="M718,588.3v37.2c0,3.3,0.5,5.5,1.6,6.8c1,1.3,2.7,2.2,4.9,2.7v2.9l-14.3,8c-1.9-0.8-3.7-2.1-5.4-3.9
				c-1.7-1.8-2.5-3.4-2.5-4.9l-16.4,8.8c-0.3-0.2-0.7-0.4-1.2-0.7c-0.5-0.3-1.4-1-2.7-2c-1.3-1-2.4-2.1-3.4-3.2
				c-2.6-2.9-3.9-6.2-3.9-9.9v-21.6c0-1.4,2.3-3.2,6.8-5.4c4.5-2.2,9.1-4,13.7-5.4l7-2.2c0-5-1.3-8.5-3.9-10.5c-2.6-2-7.7-3-15.3-3
				v-3.9c13.6-4.8,21.2-7.2,22.9-7.2c2.9,0,5.7,1.9,8.3,5.7C716.7,580.4,718,584.3,718,588.3z M692.4,631c1.4,1.4,2.9,2.2,4.5,2.2
				c1.7,0,3.4-0.7,5.3-2v-29.7c-2.2,0.8-3.8,1.4-4.9,2c-1.1,0.5-2.3,1.4-3.5,2.5c-2.3,2.1-3.4,5.7-3.4,10.9v8.6
				C690.3,627.7,691,629.6,692.4,631z"/>
			<path class="st0" d="M774.6,604c-2.2,0-4.1-1.7-5.7-5c-1.6-3.3-2.4-7.4-2.4-12.2v-27.4c0-1.7,4.6-4.5,13.8-8.6
				c9.2-4.1,14.5-6.1,15.9-6.1c1.1,0,2.5,1.8,4.5,5.3c0.4,0.9,1.1,2.1,1.9,3.6c0.8,1.5,1.5,2.7,2,3.7c1.1,2.1,2.6,3.2,4.3,3.2v2.6
				c-1.4,0.6-3.3,1.5-5.7,2.8c-5.5,3.1-8.5,4.6-8.9,4.6c-1.3,0-3-2.6-4.9-7.8c-2-5.2-3.6-7.8-4.8-7.8c-1.6,0-2.4,1.3-2.4,3.9v29.3
				c0,3.5,0.8,5.3,2.4,5.3c0.4,0,3.1-1.1,8.2-3.4s8.2-3.4,9.2-3.4c2.1,0,4,1.7,5.6,5.1c1.6,3.4,2.4,7.7,2.4,13v28
				c0,1.7-5,4.5-15.1,8.6c-10,4.1-15.8,6.1-17.3,6.1c-0.6,0-1.3-0.7-2.1-2.2c-0.8-1.5-1.8-3.6-3.1-6.4c-1.3-2.8-2.4-5.1-3.4-6.9
				c-1-1.8-2.4-2.8-4.1-2.8v-2.6c1.4-0.6,3.2-1.5,5.5-2.8c5.6-3.1,8.6-4.6,9.1-4.6c1.3,0,3.2,3,5.6,9.1c2.4,6,4.2,9.1,5.5,9.1
				c0.9,0,1.7-0.4,2.5-1.1c0.8-0.7,1.2-1.7,1.2-2.9v-29.6c0-3.9-1.1-5.9-3.3-5.9c-0.7,0-3.5,1.1-8.3,3.2
				C778,602.9,775.3,604,774.6,604z"/>
			<path class="st0" d="M860,571c0.4,0,1.5,0.7,3.3,2c1.8,1.4,3.5,3.2,5.3,5.7c1.7,2.4,2.6,4.8,2.6,7v22.1c0,1.6-2.3,3.5-7,5.8
				c-4.6,2.3-9.1,4.1-13.5,5.6c-4.3,1.5-6.7,2.2-7,2.2c0,6.8,2.9,10.9,8.8,12.5c2.9,0.7,6.3,1,10.4,1v3.8c-14.4,4.8-22,7.2-23,7.2
				c-2.6,0-5.3-1.9-8-5.6c-2.7-3.7-4.1-8.1-4.1-13.1v-44.2c0-0.6,5-2.8,15-6.5C852.8,572.8,858.5,571,860,571z M853.7,585.6
				c-1.1-1.7-2.6-2.6-4.3-2.6c-1.8,0-3.7,0.7-5.8,2v30.4c7.9-2.2,11.8-6.9,11.8-14.2v-9.3C855.4,589.4,854.8,587.3,853.7,585.6z"/>
			<path class="st0" d="M901.4,553.7v72.7c0,5.4,1.8,8.4,5.4,9.1v2.9l-13.3,7.5c-1.9-0.8-3.7-2.1-5.4-3.9c-1.7-1.8-2.5-3.5-2.5-5.1
				v-72.7c0-5.3-1.8-8.4-5.4-9.1v-2.9l13.3-7.5c1.9,0.8,3.7,2.1,5.4,3.9C900.6,550.5,901.4,552.2,901.4,553.7z"/>
			<path class="st0" d="M938.9,557.3v15.6h6.7l-1.3,6.4h-5.4v47.1c0,5.4,1.8,8.4,5.4,9.1v2.9l-13.3,7.5c-1.9-0.8-3.7-2.1-5.4-3.9
				c-1.7-1.8-2.5-3.5-2.5-5.1v-57.5h-5.4l1.3-5.5c2.6,0,5.8-1.8,9.5-5.3c3.7-3.6,5.9-7.3,6.6-11.4H938.9z"/>
			<path class="st0" d="M978.6,633c5.4,0,8.4-1.4,9.1-4.3h2.9l7.5,10.8c-1.1,1.7-2.4,3.2-4.1,4.5c-1.7,1.3-3.3,2-4.9,2h-34.5
				c-1.8-5.4-2.6-9.5-2.6-12.5L983,585h-11.4c-5.4,0-8.4,1.4-9.1,4.3h-2.9l-7.5-10.8c1-1.7,2.4-3.2,4.1-4.5c1.7-1.3,3.3-2,4.9-2
				h17.6c5.4,0,8.4-1.4,9.1-4.3h2.9c1.2,1.7,2.8,4.7,4.7,9.1c1.9,4.4,2.8,7.1,2.8,8L968.2,633H978.6z"/>
			<path class="st0" d="M1043.5,571c0.4,0,1.5,0.7,3.3,2c1.8,1.4,3.5,3.2,5.3,5.7c1.7,2.4,2.6,4.8,2.6,7v22.1c0,1.6-2.3,3.5-7,5.8
				s-9.1,4.1-13.5,5.6c-4.3,1.5-6.7,2.2-7,2.2c0,6.8,2.9,10.9,8.8,12.5c2.9,0.7,6.3,1,10.4,1v3.8c-14.4,4.8-22,7.2-23,7.2
				c-2.6,0-5.3-1.9-8-5.6c-2.7-3.7-4.1-8.1-4.1-13.1v-44.2c0-0.6,5-2.8,15-6.5C1036.2,572.8,1042,571,1043.5,571z M1037.1,585.6
				c-1.1-1.7-2.6-2.6-4.3-2.6c-1.8,0-3.7,0.7-5.8,2v30.4c7.9-2.2,11.8-6.9,11.8-14.2v-9.3C1038.9,589.4,1038.3,587.3,1037.1,585.6z"
				/>
			<path class="st0" d="M1065.9,578.8l14.5-7.9c0.6,0.2,1.3,0.4,2.2,0.7c0.8,0.3,2,1.2,3.4,2.6s2.2,3,2.2,4.7
				c0.4-0.2,2.5-1.6,6.3-4.1c3.7-2.6,6.1-3.9,7.2-3.9c2.8,0,5.4,1.8,7.9,5.5c2.5,3.7,3.7,7.1,3.7,10.1v6.4l-13.6,7.6l-2.2-1.8
				c0-7.4-0.7-11.6-2.1-12.6c-1.6-1.1-3.9-1.7-7.1-1.7v41.9c0,5.4,1.8,8.4,5.4,9.1v2.9l-13.3,7.5c-1.9-0.8-3.7-2.1-5.4-3.9
				c-1.7-1.8-2.5-3.5-2.5-5.1v-43.7c0-3.9-0.7-6.8-2-8.7s-2.8-2.9-4.4-2.9V578.8z"/>
		</g>
	</g>
</g>
</svg>

            {%- endif -%}
          </div>
          
          <div class="age-gate-border">
            <div class="age-gate__context">
                <h2>{{ section.settings.heading }}</h2>
                {{ section.settings.content }}
            </div>
            <div class="age-gate__reject hidden">
                <h2>{{ section.settings.heading_reject }}</h2>
                {{ section.settings.content_reject }}
            </div>

            <div class="age-gate__buttons">
                <button id="submit_birthdate" class="button button-enter" onclick="ageCheck()">{{ 'I’m over 21' }}</button>
                <button class="button age-gate-submit-no" onclick="ageCheckReject()">{{ 'Not Yet' }}</button>
            </div>
            <div class="border-right border" style="background-image: url('{{ 'Border-vertical.png' | asset_url }}')"></div>
            <div class="border-left border" style="background-image: url('{{ 'Border-vertical.png' | asset_url }}')"></div>
            <div class="border-top border" style="background-image: url('{{ 'Border.png' | asset_url }}')"></div>
            <div class="border-bottom border" style="background-image: url('{{ 'Border.png' | asset_url }}')"></div>
          </div>
          
                    <!-------Newsletter------>
          <div class="agegate_newsletter_section">
            {%- if section.settings.content_newsletter != blank -%}
                {{ section.settings.content_newsletter }}
            {%- endif -%}

            {%- assign newsletter_id = 'footer-' | append: section.id -%}

            <div class="klaviyo-form-Ymenaw"></div>
              
          </div>
        </div>
      <img src="{{ 'green-corner.png' | asset_url }}" alt="background-layer" class="background-layer top-left" loading="lazy">
      <img src="{{ 'orange-corner.png' | asset_url }}" alt="background-layer" class="background-layer top-right" loading="lazy">
      <img src="{{ 'pink-corner.png' | asset_url }}" alt="background-layer" class="background-layer bottom-left" loading="lazy">
      <img src="{{ 'multi-corner.png' | asset_url }}" alt="background-layer" class="background-layer bottom-right" loading="lazy">
    </div>
</div>

<script>
function ageCheck() {
    var days = 14; //number of days until they must go through the age checker again.
    var date = new Date();
    date.setTime(date.getTime()+(days*24*60*60*1000));
    var expires = "; expires="+date.toGMTString();
    document.cookie = 'isAnAdult=true;'+expires+"; path=/";
    location.reload();
};

function ageCheckReject() {
    const contextDefault = document.querySelector('.age-gate__context');
    const contextReject = document.querySelector('.age-gate__reject');
    const ageGateButtons = document.querySelector('.age-gate__buttons');

    contextDefault.classList.add('hidden');
    ageGateButtons.classList.add('hidden');
    contextReject.classList.remove('hidden');
};  
  
function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
};

const isAnAdult = readCookie('isAnAdult');
if (isAnAdult) {
    document.body.classList.remove('age-restriction');
    document.getElementById('age-gate-popup').style.display = 'none';
} else {
    document.body.classList.add('age-restriction');
    document.getElementById('age-gate-popup').style.display = 'block';
};
</script>

<style>
.age-restriction {
    height: 100vh;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
#age-gate-popup {
    {%- if section.settings.color_background != '' or section.settings.background_age_check != blank -%}
    background-color: {{ section.settings.color_background }};
  	background-image: url("{{ section.settings.background_age_check | img_url: 'master' }}");
  	background-size: cover;
  	background-repeat: no-repeat;
  	{% else %}
    background: rgba(0, 0, 0, 1);
    {%- endif -%}
    {%- if section.settings.color_text != '' -%}
    color: {{ section.settings.color_text }};
    {%- else -%}
    color: #FFFFFF;
    {%- endif -%}
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

.age-gate {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.age-gate__content {
    max-width: 800px;
    padding: 50px 20px;
    width: 100%;
    text-align: center;
  	display: flex;
    flex-direction: column;
    align-items: center;
  	justify-content: center;
}

.age-gate__content img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}

.age-gate__content .headline {
  margin:47px 0;
    max-width: 300px;
}
.age-gate__content h2 {
    color: inherit;
    margin: 2rem 0 1rem;
}

.age-gate__content p {
    line-height: 1.6;
    margin: 0;
}
.age-gate__content .hidden {
  display: none;
}
.age-gate__buttons {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.age-gate__buttons .button {
  	max-width: 298px;
    width: 50%;
    margin: 0 1rem;
    text-transform: uppercase;
  	border: none;
  	box-shadow: none;
  	padding: 10px 20px;
    min-width: 100px;
    background-color: transparent;
  	{%- if section.settings.color_button != '' -%}
    color: {{ section.settings.color_button }};
    border: 2px solid {{ section.settings.color_button }};
    {%- else -%}
    color: #000000;
  	border: 2px solid #000000;
    {%- endif -%}
 	border-radius: 2px;
}
.age-gate__buttons .button:hover {
  border:none;
  box-shadow: none;
}
  
  .age-gate-logo svg {
    margin-top: 80px;
}
  
/*   .age-gate-border{
  	background-image: url("{{ 'border-outline.svg' | asset_url }}"); 
   } */
  
</style>


{% schema %}
{
    "name": "Age Gate Popup",
    "tag": "section",
    "settings": [
        {
            "type": "color",
            "id": "color_background",
            "label": "Overlay color"
        },
        {
            "type": "color",
            "id": "color_text",
            "label": "Text color"
        },
		{
            "type": "color",
            "id": "color_button",
            "label": "Button text color"
        },
        {
            "type": "image_picker",
            "id": "background_age_check",
            "label": "Background Image"
        },
        {
            "type": "image_picker",
            "id": "logo_age_check",
            "label": "Logo"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Context"
        },
        {
            "type": "text",
            "id": "heading_reject",
            "label": "Reject heading"
        },
        {
            "type": "richtext",
            "id": "content_reject",
            "label": "Reject context"
        },
        {
            "type": "richtext",
            "id": "content_newsletter",
            "label": "Newsletter content"
        }
    ]
}
{% endschema %}