{% assign layout_mode = section.settings.layout_mode %}
{%- if layout_mode == 'carousel' -%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{%- endif -%}
{{ 'section-featured-collection.css' | asset_url | stylesheet_tag }}
{%- capture section_settings -%}
{
  "layout": {{ section.settings.layout_mode | json }}
}
{%- endcapture -%}
{% style %}{{ section.settings.custom_css }}{% endstyle %}
<section class="Section FeaturedCollection Section--spacingNone section-{{ section.id }}" id="{{ section.settings.sectionID }}" data-section-id="{{ section.id }}" data-section-type="featured-collections" data-settings='{{ section_settings }}'>
  {% if section.settings.title != blank %}
  <header class="SectionHeader SectionHeader--center">
    <div class="Container">
    {%- if section.settings.title != blank -%}
      <h2 class="manual--title">{{ section.settings.title | escape }}</h2>
    {%- endif -%}
    {%- if section.settings.subtitle != blank -%}
      <h2 class="manual-sub--title">{{ section.settings.subtitle | escape }}</h2>
    {%- endif -%}
    </div>
  </header>
  {% endif %}
  <div class="TabPanel"  aria-hidden="false" role="tabpanel" {{ block.shopify_attributes }}>
    <div class="ProductListWrapper">
        {%- assign item_count = section.settings.grid_items_count -%}

        {%- if block.products_count < section.settings.grid_items_count -%}
          {%- assign item_count = collection.products_count -%}
        {%- endif -%}

        {%- if layout_mode == 'grid' -%}
          <div class="ProductList ProductList--grid ProductList--removeMargin Grid" data-mobile-count="{{ section.settings.grid_mobile_items_per_row }}" data-desktop-count="{{ section.settings.grid_desktop_items_per_row }}">
            {%- for block in section.blocks limit: section.settings.grid_items_count -%}
              <div class="Grid__Cell 1/{{ section.settings.grid_mobile_items_per_row }}--phone 1/2--tablet 1/{{ section.settings.grid_desktop_items_per_row }}--lap-and-up" id="block-{{ block.id }}">
                {%- render 'product-manual-item', product-image: block.settings.product_image, temporary_img: block.settings.temporary_img,
                  coming_soon: block.settings.product_image_comingsoon, title: block.settings.title, button_text: block.settings.button_text,
                  button_link: block.settings.button_link, popup: block.settings.trigger_popup, product_details: block.settings.product_details  -%}
              </div>
            {%- endfor -%}
          </div>
        {%- elsif layout_mode == 'carousel' -%}
          <div class="ProductList slick-slider-{{ section.id | slice: -1, 12 }}" data-slick='{"slidesToShow": {{ section.settings.slides_to_show_desktop }},
            "slidesToScroll": {{ section.settings.slides_to_scroll_desktop }},
            "infinite": false,
            "lazyLoad": "ondemand",
            "arrows": {{ section.settings.show_arrows_desktop }},
            "dots": {{ section.settings.show_dots_desktop }},
            "responsive": [
                {
                "breakpoint": 1024,
                "settings": {
                    "slidesToShow": 2.75,
                    "slidesToScroll": 2,
                    "arrows": true,
                    "dots": true
                    }
                },
                {
                "breakpoint": 750,
                "settings": {
                    "slidesToShow": {{ section.settings.slides_to_show_mobile }},
                    "slidesToScroll": {{ section.settings.slides_to_scroll_mobile }},
                    "arrows": {{ section.settings.show_arrows_mobile }},
                    "dots": {{ section.settings.show_dots_mobile }}
                    }
                }
            ]
      }'>
            {%- for block in section.blocks limit: section.settings.grid_items_count -%}
              <div class="Carousel__Cell Grid__Cell" id="block-{{ block.id }}">
                {%- render 'product-manual-item-2', product-image: block.settings.product_image, temporary_img: block.settings.temporary_img, coming_soon: block.settings.product_image_comingsoon, title: block.settings.title, button_text: block.settings.button_text, button_link: block.settings.button_link, popup: block.settings.trigger_popup, product_details: block.settings.product_details -%}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
    </div>
  </div>
</section>
{% if layout_mode == 'carousel' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
  document.addEventListener("DOMContentLoaded", ()=>{
    $('.slick-slider-{{ section.id | slice: -1, 12 }}').not('.slick-initialized').slick();
  });
  </script>
  {% endif %}
<style>
  .section-{{ section.id }} .ProductList .ProductItem__Info .Button {
    {% if section.settings.button_text_color != blank %}
      color:{{ section.settings.button_text_color }};
    {% else %}
      color: #1B1C1E;
    {% endif %}
    {% if section.settings.button_bg_color != blank %}
      background-color:{{ section.settings.button_bg_color }};
    {% endif %}
    {% if section.settings.button_border_radius %}
      border-radius: {{ section.settings.button_border_radius }}px;
    {% endif %}
  }
  .section-{{ section.id }} .ProductList .Grid__Cell:hover .ProductItem__Info .Button {
    {% if block.settings.hover_bg %}
      background-color: {{ block.settings.hover_bg }}!important;
    {% else %}
      background-color: #000000;
    {%endif %}
  }
  {% if section.settings.show_bottom_bg and section.settings.bottom_bg_color != blank %}
    .section-{{ section.id }} .TabPanel {position:relative;}
    .section-{{ section.id }} .TabPanel:after {
      content: '';
      display: block;
      width: 100%;
      height: 38%;
      background-color: {{ section.settings.bottom_bg_color }};
      position: absolute;
      bottom: 0;
      z-index: -1;
    }
  {% endif %}
{%- for block in section.blocks -%}
    #block-{{ block.id }}{
    -webkit-transition: background .2s ease-in;
    transition: background .2s ease-in;
    }
  {% if block.settings.product_bg_banner2 != blank %}
    #block-{{ block.id }}:hover .ProductItem__Wrapper {
      background-image: url('{{- block.settings.product_bg_banner2 | img_url: '600x' -}}');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: {{ section.settings.button_border_radius }}px;
    }
  {% endif %}

  {% if block.settings.temporary_img %}
  #block-{{ block.id }}:hover .ProductItem__Image, #block-{{ block.id }}:hover .ProductItem__ImageWrapper{
    background-position: center;
  }
  {% endif %}
  #block-{{ block.id }}:hover .ProductItem__Title{
   display: none;
  }
   #block-{{ block.id }} .coming-soon-banner {
    position: absolute;
	}

  #block-{{ block.id }}:hover .ProductItem__ImageWrapper .coming-soon-banner{
   opacity: 0;
  }
{% endfor %}
</style>

{%- capture hack -%}
{%- comment -%}This is just an ugly hack to make those variables appear as part of the theme editor in the General Settings{%- endcomment -%}
{% if layout_mode == 'grid' %}{{ settings.product_list_horizontal_spacing }},{{ settings.product_list_vertical_spacing }}{% endif %}
{%- endcapture -%}

{% schema %}
{
  "name": "Manual collections copy",
  "class": "shopify-section",
  "max_blocks": 8,
  "settings": [
    {
      "type": "text",
      "id": "sectionID",
      "label": "ID Anchor Tag",
      "default": "shop"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Manual collection"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Sub Heading",
      "default": "Manual collection"
    },
    {
      "type": "select",
      "id": "layout_mode",
      "label": "Layout",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "carousel",
          "label": "Carousel"
        }
      ],
      "default": "grid"
    },
    {
      "type": "header",
      "content": "Grid",
      "info": "Those settings apply only if the layout mode is set to grid."
    },
    {
      "type": "select",
      "id": "grid_mobile_items_per_row",
      "label": "Products per row (mobile)",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "2"
    },
    {
      "type": "range",
      "min": 2,
      "max": 4,
      "id": "grid_desktop_items_per_row",
      "label": "Products per row (desktop)",
      "default": 4
    },
    {
      "type": "range",
      "id": "grid_items_count",
      "min": 2,
      "max": 50,
      "step": 1,
      "label": "Products to show",
      "default": 8
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Item Button text color"
    },
    {
      "type": "color",
      "id": "button_bg_color",
      "label": "Item Button background color"
    },
    {
      "type": "range",
      "id": "button_border_radius",
      "min": 1,
      "max": 100,
      "step": 1,
      "label": "Item Button Border Radius",
      "default": 1
    },
    {
      "type": "checkbox",
      "id": "show_bottom_bg",
      "label": "Show bottom background"
    },
    {
      "type": "color",
      "id": "bottom_bg_color",
      "label": "Bottom background color"
    },
    {
      "type": "header",
      "content": "Desktop slider settings"
    },
    {
      "type": "number",
      "id": "slides_to_show_desktop",
      "label": "Slides to show"
    },
    {
      "type": "number",
      "id": "slides_to_scroll_desktop",
      "label": "Slides to scroll"
    },
    {
      "type": "checkbox",
      "id": "show_arrows_desktop",
      "label": "Show arrows"
    },
    {
      "type": "checkbox",
      "id": "show_dots_desktop",
      "label": "Show dots"
    },
    {
      "type": "header",
      "content": "Mobile slider settings"
    },
    {
      "type": "checkbox",
      "id": "disable_slider_mobile",
      "label": "Disable slider"
    },
    {
      "type": "number",
      "id": "slides_to_show_mobile",
      "label": "Slides to show"
    },
    {
      "type": "number",
      "id": "slides_to_scroll_mobile",
      "label": "Slides to scroll"
    },
    {
      "type": "checkbox",
      "id": "show_arrows_mobile",
      "label": "Show arrows"
    },
    {
      "type": "checkbox",
      "id": "show_dots_mobile",
      "label": "Show dots"
    },
    {
      "type": "liquid",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "title",
      "settings": [
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product Image"
        },
        {
          "type": "image_picker",
          "id": "product_image_comingsoon",
          "label": "Product Image Coming Soon"
        },
        {
          "type": "checkbox",
          "id": "temporary_img",
          "label": "Placeholder for Image",
          "info": "For products that do not have product photography",
          "default": false
        },
        {
          "type": "text",
          "id": "title",
          "label": "Product Title",
          "info": "12 pk - 2. 75 per can"
        },
        {
          "type": "richtext",
          "id": "product_details",
          "label": "Product Details"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Add to Bag"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Product Link"
        },
        {
          "type": "checkbox",
          "id": "trigger_popup",
          "label": "Trigger Klaviyo Popup if Out if Stock",
          "info": "popup must first be setup in Klaviyo for this to work",
          "default": false
        },
        {
          "type": "color",
          "id": "hover_bg",
          "label": "Hover Transparent Background",
          "default": "#931A1D "
        },
        {
          "type": "image_picker",
          "id": "product_bg_banner",
          "label": "Background Banner"
        },
        {
          "type": "image_picker",
          "id": "product_bg_banner2",
          "label": "Background Banner 2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Manual collections copy"
    }
  ]
}
{% endschema %}
